{% extends 'base_layout.html' %}
{% block content %}
<!-- banner bottom -->
    <section class="w3ls-bnrbtm py-5" id="about">
        <div class="container py-xl-5 py-lg-3">
            <h3 class="title-w3 mb-md-5 mb-sm-4 mb-2 text-center font-weight-bold">Services</h3>
            <div class="row">
                <div class="col-lg-6 text-center">
                    <img src="/media/webdesign.jpg" alt="about" class="img-fluid mt-4" />
                </div>
                <div class="col-lg-6 pr-xl-5 mt-4">
                    <h3 class="title-sub mb-4">Web Designing </h3>
                    <p class="sub-para">We’re a dynamic Web Designing Company
                      that helps you scale up your business by improving customer engagement with the help of interactive web designs.
                        </p>
                    <p class="sub-para pt-4 mt-4 border-top">he term web designing is normally used to describe the design process relating to the front-end (client side) design of a website including writing mark up, and it involves many different skills and disciplines in the production and maintenance of websites.

With many years of experience, Tech School is a web designing company which understands that bringing the brands of our clients to life requires to provide them with a striking and creative portal with much dynamic and interactive features. This would help them realise their business goals by inspiring their customers to revisit the website frequently and stay engaged.

Being one of the top web designing companies, Tech School’s expertise lies in creating state-of-the-art web designing solutions for our clients with the help of our much experienced and talented web designing team. We specialise in creating websites with interactive features, responsive interface and lively colour schemes.

The different areas of web designing that we focus on include web graphic design, interface design, authoring standardised code and proprietary software, user experience design and search engine optimization. Our experts will work in teams covering different aspects of the design process to make sure that all your requirements are met.
                        </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
