{% extends 'base_layout.html' %}
{% block content %}
<div class="inner-banner-w3ls py-5" id="home">
        <div class="container py-xl-5 py-lg-3">
            <!-- login  -->
            <div class="modal-body my-5 pt-4">
                <h3 class="title-w3 mb-5 text-center text-wh font-weight-bold">Password Reset Sent</h3>
                <p>your password has been set. you may go ahead and login now</p>
                <br>
                <br>
                <a href="{% url 'students:login' %}">Log In</a>

            </div>
            <!-- //login -->
        </div>
    </div>
{% endblock %}
