{% extends 'base_layout.html' %}
{% block content %}
<div class="inner-banner-w3ls py-5" id="home">
        <div class="container py-xl-5 py-lg-3">
            <!-- login  -->
            <div class="modal-body my-5 pt-4">
                <h3 class="title-w3 mb-5 text-center text-wh font-weight-bold">Enter New Password</h3>
                <p>please enter your new password twice so we can verify you typed it in correctly</p>
                <form  method="post">
                    {% csrf_token %}
                    <div class="form-group">

                        {{ form }}
                    </div>

                    <button type="submit" class="btn button-style-w3" name="Update Password">Update Password</button>

                </form>
            </div>
            <!-- //login -->
        </div>
    </div>
{% endblock %}
